.gather_container {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Emoji', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.lg {
    --max-width: 375px;
    --height: 145px;
    --padding: 20px;
    --gap: 13px;
    --border-color: var(--white);

    --img-width-size: 100px;
    --img-height-size: 104px;
    --like-pos: 8px;
    --like-size: 26px;

    --tag-text-size: 12px;
    --top-margin-bottom: 7px;
    --title-text-size: 22px;
    --title-line-height: 30px;
  }

  &.md {
    --max-width: 335px;
    --height: 78px;
    --padding: 10px;
    --gap: 10px;
    --border-color: var(--grey-50);

    --img-width-size: 58px;
    --img-height-size: 58px;
    --like-pos: 5px;
    --like-size: 14px;

    --tag-text-size: 10px;
    --top-margin-bottom: 5px;
    --title-text-size: 15px;
    --title-line-height: 18px;

    .img_box > svg {
      display: none;
    }
  }

  display: grid;
  grid-template-columns: var(--img-width-size) auto;
  width: 100%;
  max-width: var(--max-width);
  height: var(--height);
  padding: var(--padding);
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  gap: 13px;

  .message {
    display: none;
  }

  .img_box {
    position: relative;
    width: 100%;
    height: var(--img-height-size);
    border-radius: 5px;
    background-color: var(--white);
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    & > svg {
      position: absolute;
      width: var(--like-size);
      height: var(--like-size);
      right: var(--like-pos);
      bottom: var(--like-pos);
      z-index: 3;
      cursor: pointer;
    }

    &.img_default {
      background-color: var(--grey-50);
    }
  }

  .contents_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;

    .top,
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .top {
      margin-bottom: var(--top-margin-bottom);
    }

    .tag {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px 10px;
      border-radius: 10px;
      background-color: var(--grey-30);
      height: 20px;

      font-weight: 700;
      font-size: var(--tag-text-size);
      color: var(--grey-60);
    }

    .title {
      font-weight: 700;
      font-size: var(--title-text-size);
      line-height: var(--title-line-height);
      margin-bottom: 5px;
    }

    .info {
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 12px;
      color: var(--grey-60);

      span {
        color: var(--black);
        display: flex;
        align-items: center;
        gap: 2px;
      }
    }
  }

  &.disabled {
    .img_box {
      .message {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 10px;
        z-index: 2;
        gap: 5px;
        font-weight: 700;
        font-size: 10px;
        color: var(--white);
        background-color: var(--disable-layer);

        .text {
          margin-bottom: 6px;
        }
      }
    }
  }
}
