.input_container {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Emoji', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  position: relative;

  &.lg {
    --font-weight: 500;
    --font-size: 18px;
    --line-height: 28px;
    --input-height: 34px;
  }

  &.md {
    --font-weight: 600;
    --font-size: 15px;
    --line-height: 17px;
    --input-height: 34px;
  }

  &.sm {
    --font-weight: 600;
    --font-size: 12px;
    --line-height: 15px;
    --input-height: 30px;
  }

  .input_label {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 5px;
    color: var(--grey-80);
  }

  .input_wrap {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    height: var(--input-height);
    box-shadow: none;
    border-radius: var(--input-border-radius);
    padding: var(--input-padding);
    background-color: var(--background-color);

    &.default,
    &.number,
    &.numberOnly,
    &.decimal,
    &.phone,
    &.post,
    &.password {
      --input-border-radius: 0px;
      --input-padding: 0px;

      --background-color: var(--white);
      --color: var(--black);
      --input-placeholder-color: var(--grey-60);

      --focus-border-color: var(--primary-orange);

      --disabled-color: var(--grey-60);
      --disabled-background: var(--grey-50);
    }

    &.default,
    &.number,
    &.numberOnly,
    &.decimal,
    &.phone,
    &.password {
      --border-color: var(--grey-30);
      border-bottom: 1px solid var(--border-color);
    }

    &.post {
      --border-color: var(--grey-30);
      --font-weight: 700;
      --font-size: 22px;
      --line-height: 30px;
      --input-height: 34px;
      border-bottom: 1px solid var(--border-color);
    }

    &.search {
      --input-border-radius: 8px;
      --input-padding: 8px 12px;

      --background-color: var(--grey-30);
      --color: var(--black);
      --input-placeholder-color: var(--grey-60);

      --border-color: var(--grey-20);
      --focus-border-color: var(--primary-orange);

      --disabled-color: var(--grey-60);
      --disabled-background: var(--grey-50);

      border: 1px solid var(--border-color);
    }
    &.disabled {
      background-color: var(--disabled-background);
      color: var(--disabled-color);
      border: none;
    }
    &.is_focus {
      border-color: var(--focus-border-color);
    }

    .adornment_wrap {
      display: inline-flex;
      display: -webkit-inline-flex;
      justify-content: center;
      align-items: center;
      &.start {
        margin-right: var(--adornment-start-margin-right);
      }
      &.end {
        margin-left: var(--adornment-end-margin-left);
        gap: var(--adornment-end-gap);
      }
    }

    input {
      font-family: inherit;
      width: 0;
      flex-grow: 1;
      height: 100%;
      font-size: var(--font-size);
      font-weight: var(--font-weight);
      line-height: var(--line-height);
      color: var(--color);
      caret-color: var(--primary-orange);
      background-color: transparent;
      outline: none;
      border: none;

      &:disabled {
        color: var(--grey-60);
      }
      &::placeholder {
        color: var(--input-placeholder-color);
        font-weight: var(--font-weight);
      }

      &:disabled::placeholder {
        color: var(--disabled-color);
      }
    }
  }

  .input_label_error {
    font-size: 12px;
    font-weight: 500;
    color: var(--primary-orange);
    padding: 6px 0px;
  }

  .option_wrap {
    width: 100%;
    padding: 12px 0;
    border-radius: 12px;
    position: absolute;
    background-color: var(--white);
    z-index: 1;

    -webkit-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.2);

    & > div {
      height: 42px;
      font-size: 15px;
      line-height: 18px;
      font-weight: 600;
      padding: 12px 20px;
      cursor: pointer;
    }
  }
}
