.textarea_container {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Emoji', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .textarea_wrap {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    padding: 6px 0;

    &.default {
      --input-placeholder-color: var(--grey-60);
      --disabled-color: var(--grey-60);
    }

    textarea {
      font-family: inherit;
      width: 100%;
      flex-grow: 1;
      height: 100%;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.3px;
      color: var(--black);
      caret-color: var(--primary-orange);
      background-color: transparent;
      outline: none;
      border: none;
      z-index: 1;

      &::-webkit-resizer {
        display: none;
      }

      &.virtual {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        visibility: hidden;
      }

      &:disabled {
        color: var(--disabled-color);
      }

      &::placeholder {
        color: var(--input-placeholder-color);
      }

      &:disabled::placeholder {
        color: var(--disabled-color);
      }
    }
  }
}
