.confirm_container {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Emoji', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --max-width: 330px;

  display: none;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88%;
  max-width: var(--max-width);
  background-color: var(--white);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border-radius: 12px;
  padding: 20px;
  gap: 20px;

  &.open {
    display: flex;
  }

  .buttons_wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
