.button_container {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Emoji", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.lg {
    --width: 335px;
    --height: 50px;
    --font-size: 18px;
  }

  &.md {
    --width: 293px;
    --height: 50px;
    --font-size: 18px;
  }

  &.sm {
    --width: 166px;
    --height: 50px;
    --font-size: 18px;
  }

  &.primary {
    --background: var(--primary-button);
    --color: var(--white);

    --pressed-background: var(--primary-button-pressed);
    --pressed-color: var(--white);

    --disabled-backgound: var(--primary-button-disabled);
    --disabled-color: var(--white);

    &:hover {
      --hover-background: var(--primary-button-hover);
      --hover-color: var(--white);
    }
  }

  &.secondary {
    --background: var(--secondary-button);
    --color: var(--white);

    --pressed-background: var(--secondary-button-pressed);
    --pressed-color: var(--white);

    --disabled-backgound: var(--secondary-button-disabled);
    --disabled-color: var(--white);

    &:hover {
      --hover-background: var(--secondary-button-hover);
      --hover-color: var(--black);
    }
  }

  &:active {
    background-color: var(--pressed-background);
    color: var(--pressed-color);
  }

  &:disabled {
    background-color: var(--disabled-backgound);
    color: var(--disabled-color);
    cursor: default;
    svg path {
      fill: var(--disabled-color);
    }
  }

  &:hover {
    background-color: var(--hover-background);
    color: var(--hover-color);
  }

  svg path {
    fill: var(--color);
  }

  --button-padding-tb: 23px;
  --button-padding-lr: 17px;
  --font-weight: 700;
  --line-height: 25px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background: var(--background);
  color: var(--color);
  cursor: pointer;
  width: 100%;
  max-width: var(--width);
  height: var(--height);
  box-sizing: border-box;
  padding: var(--button-padding-tb) var(--button-padding-lr);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  box-shadow: none;
  border: 0px;
  border-radius: 11px;
}