.footer_container {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Emoji', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 375px;
  height: 47px;

  display: flex;
  border: 1px solid #e2e2e2;
  padding: 15px 20px;
  height: 54px;

  .menu_wrap {
    display: flex;
    gap: 77px;
    align-items: center;

    .menu {
      display: flex;
      position: relative;

      .unread {
        position: absolute;
        left: 12px;
        top: -6px;
      }
    }
  }
}
